@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Lacquer&display=swap');


.container{
	text-align: center;
	width: 80%;
	margin:30px;
}

body{
	background-color: #888;
	color: gold;
}

h1 {
	font-family: 'Crimson Pro', serif, sans-serif;
	font-size: 4rem;
	text-shadow: 5px 5px 4px black;
}

p {
	font-family: 'Crimson Pro', serif, sans-serif;
}

img{
	width:30%;
	box-shadow: 10px 10px 8px black;
}

footer{
	margin-top: 10%;
	text-align:center;
	width:80%;
}
